@media (max-width: 1300px) {}

@media (max-width: 1120px) {}

@media (max-width: 992px) {
  .hero_area {
    min-height: auto;
  }
  .custom_nav-container .navbar-nav {
    padding-top: 15px;
    align-items: center;
  }


  .custom_nav-container .navbar-nav .nav-item .nav-link {
    padding: 5px 25px;
    margin: 5px 0;
  }

  .logo-img{
    margin-left: 20px;
    height: 30px;
  }
  .slider_section {
    padding: 75px 0;
  }

  .about-section{
    min-height: auto;
    height: 70vh;
  }
  .sustain-section{
    min-height: auto;
    height: 70vh;
  }
  .product-section{
    min-height: auto;
    height: 70vh;
  }
  .contactus-section{
    min-height: auto;
    height: 70vh;
  }

}

@media (max-width: 768px) {
  .about_section .img-box {
    margin-top: 45px;
  }

  .contact_section {
    padding-bottom: 0;
  }

  .contact_section .heading_container {
    padding-left: 15px;
  }

  .contact_section .map_container {
    margin-top: 45px;
  }

  .contact_section .form_container {
    padding: 0 15px;
    margin: 0;
  }

}

@media (max-width: 576px) {
  .header_section .header_top .contact_nav a span {
    display: none;
  }


  .client_section .client_container {
    width: 100%;
  }

  .client_section .box {
    margin: 0;
  }

  .owl-nav {
    display: flex;
    justify-content: center;
    margin-top: 45px;
  }

  .client_section .owl-carousel .owl-nav .owl-prev,
  .client_section .owl-carousel .owl-nav .owl-next {
    position: unset;
    margin: 0 2.5px;
  }
}

@media (max-width: 480px) {
  .slider_section .detail-box h1 {
    font-size: 2rem;
  }

  .track_section form {
    flex-direction: column;
    align-items: flex-start;
  }

  .track_section form input {
    width: 100%;
  }

  .track_section form button {
    padding: 10px 60px;
    margin-top: 10px;
  }
}

@media (max-width: 420px) {
  .service_section .box {
    flex-direction: column;
  }

  .service_section .box .img-box {
    justify-content: flex-start;
    margin-bottom: 15px;
  }
}

@media (max-width: 376px) {}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
/* === RESPONSIVE DESIGN === */
@media (max-width: 768px) {
  .slider_section .detail-box{
    margin-left: 20px !important;
    padding: 0 10px;

  }
  .container-about {
    margin-left: 0 !important;
    padding: 0;
    text-align: center;
  }

  .about-text h2 {
    font-size: 28px;
  }

  .about-text p {
    font-size: 14px;
  }
  .container-product {
    margin-left: 0 !important;
    padding: 0 5px;
    text-align: center;
  }

  .product-text h2 {
    font-size: 28px;
  }

  .product-text p {
    font-size: 14px;
  }
  .container-contactus {
    margin-left: 0 !important;
    padding: 0 10px;
    text-align: center;
  }

  .contactus-text h2 {
    font-size: 28px;
  }

  .contactus-text p {
    font-size: 14px;
  }
}


@media (max-width: 768px) {
  .location-content {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
  }

  .info-box h3 {
    font-size: 22px;
  }

  .container-location {
    padding: 0 16px;
  }
}

@media (max-width: 768px) {
  .manufacturing-section .container {
    margin-left: 0;
    padding: 20px;
    text-align: center;
  }

  .manufacturing-section h2 {
    font-size: 26px;
  }

  .manufacturing-section p {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .customer-section h2 {
    font-size: 24px;
  }

  .customer-section p {
    font-size: 14px;
  }

  .map-container img {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
  }
}
/* === RESPONSIVE === */
@media (max-width: 768px) {
  .container-sustain {
    margin-left: 30px;
    padding: 20px;
  }

  .sustain-text h2 {
    font-size: 28px;
  }

  .sustain-text p {
    font-size: 14px;
  }
 
}
@media (max-width: 768px) {
  .detail-product-section {
    flex-direction: column;
    padding: 20px;
    gap: 20px;
  }

  .sidebar {
    width: 100%;
    order: 2;
  }

  .product-detail {
    width: 100%;
    margin-left: 0;
    order: 1;
  }

  .product-fish-section {
    height: 30vh;
  }

  .product-fish-text h2 {
    font-size: 28px;
  }
  .product-detail p {
    font-size: 14px;
  }

  .slide-caption {
    font-size: 1.1rem;
  }
  .product-slider {
    max-width: 100%;
    padding: 0 16px; /* opsional: beri ruang kiri-kanan */
    margin-bottom: 30px;
  }

  .slide img {
    height: auto;
    max-height: 250px; /* boleh disesuaikan */
    object-fit: cover;
  }
  .product-menu h3 {
    font-size: 20px;
  }
  .product-menu a {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .footer_nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2px;
    text-align: center;
    margin-top: 10px;
    overflow-y: auto;
  }

  .footer_nav li {
    display: inline;
    margin: 0 2px;
    position: relative;
  }
  .footer_nav a{
    font-size: 14px;
  }

  .footer_nav li:not(:last-child)::after {
    content: '|';
    padding: 0 2px;
    color: white;
  }

  .info_title {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .info_section p {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.5;
  }

  .info_section{
   // height: 60vh;
  }
  .info_section .row {
    flex-direction: column;
    align-items: flex-start;
  }

  .info_social_wrapper{
    font-size: 16px;
  }

  .footer_section {
    background-color: #f1f1f1;
    border-top: 1px solid #ccc;
    //height: 35vh;
  }
}


